<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProductPage</title>
           <style>
    .navbar {
        background-color: #000;
        overflow: hidden;
    }

    .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }
    

  
</style>
</head>


<body>
    
    <header>
 
        <div class="navbar">
        <a href="/">Home</a>
        <a th:href="@{/cars}">Cars</a>
        <a href="login.html">Login</a>
    </div>
    </header>
     <h1>Cars</h1>
     <table>
        <tr>
            <th>iD</th>
            <th>Car Make</th>
            <th>Car Model</th>
            <th>Car Year</th>
            <th>Car Miles</th>
            <th>Car Price</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.make}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.miles}"></td>
            <td th:text="${car.price}"></td>
        </tr>
     </table>
</body>
